@import "bootstrap-icons";
@import "colors";
@import "fonts";
@import "utilities";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers/text-truncation";
@import "~bootstrap/scss/helpers/colored-links";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/utilities/api";

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

html {
  font: 18px sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  color: theme-color("gray-800");
  background: theme-color("gray-100");
  scrollbar-width: thin;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
}

#root {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flexed, .icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-7 {
  font-size: 0.85rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.fs-9 {
  font-size: 0.56rem;
}

.lh-0 {
  line-height: 0;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-button {
  position: relative;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  background: none;
  color: currentColor;
  border: none;
  border-radius: 50%;

  &.danger i:after {
    background: theme-color("danger");
  }

  i {
    position: relative;
    line-height: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: theme-color("primary");
      opacity: 0;
      transform: scale(0.5);
      transition: transform 0.25s ease, opacity 0.25s ease;
    }
  }

  &:active i {
    transform: scale(0.92);
  }

  &:hover i:after {
    opacity: 0.25;
    transform: scale(1.25);
  }
}

.btn {
  &.btn-round {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    line-height: 0;
  }

  &.btn-pill {
    border-radius: 666px;
  }
}

.form-switch .form-check-input {
  width: 2.25em;
  height: 1.25em;
  border-width: 2px;
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.85rem;
  color: var(--bs-pastel-red-200);
}

@each $color, $value in $theme-colors {
  .btn-basic-#{$color} {
    --#{$prefix}btn-color: #{$value};
    --#{$prefix}btn-hover-color: #{$value};
    --#{$prefix}btn-hover-bg: #{rgba($value, 0.15)};
    --#{$prefix}btn-active-bg: #{rgba($value, 0.15)};
    --#{$prefix}btn-disabled-color: #{desaturate($value, 33%)};
    --#{$prefix}btn-active-shadow: none;
    --#{$prefix}btn-disabled-border-color: transparent;
    --#{$prefix}btn-active-border-color: transparent;
    --#{$prefix}btn-border-color: transparent;
    --#{$prefix}btn-hover-border-color: transparent;
    --#{$prefix}btn-disabled-bg: transparent;
  }

  .btn-outline-#{$color} {
    --#{$prefix}btn-hover-bg: #{rgba($value, 0.2)};
    --#{$prefix}btn-hover-color: #{$value};
  }
}