@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "bootstrap-icons";
@import "colors";
@import "fonts";
@import "utilities";

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers/text-truncation";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/utilities/api";

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}

html {
  font: 19px sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  scrollbar-width: thin;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;

  &.modal-visible {
    overflow: hidden;
    padding-right: 16px;
  }
}

#root {
  display: flex;
}

input {
  &.simple {
    background: none;
    border: none;
    border-bottom: 2px solid var(--bs-gray-500);
    padding: 2px 4px 0 4px;
    color: var(--bs-body-color);

    &:focus {
      border-color: var(--bs-primary);
      outline: none;
    }
  }

  &.hidden {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

hr {
  margin: 0.5rem 1rem;
}

.flexed, .icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shrink-column {
  min-width: 0;
}

.shadowed {
  box-shadow: -1px 1px 18px -10px black;
}

.fs-7 {
  font-size: 0.85rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.fs-9 {
  font-size: 0.56rem;
}

.lh-0 {
  line-height: 0;
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

.ws-normal {
  white-space: normal;
}

.ws-nowrap {
  white-space: nowrap;
}

.link-button {
  color: var(--bs-primary);
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  &:hover {
    color: var(--bs-primary-darker);
  }
}

.icon-button {
  position: relative;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  background: none;
  color: currentColor;
  border: none;
  border-radius: 50%;

  &.danger i:after {
    background: theme-color("danger");
  }

  i {
    position: relative;
    line-height: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: var(--bs-primary);
      opacity: 0;
      transform: scale(0.5);
      transition: transform 0.25s ease, opacity 0.25s ease;
    }
  }

  &:active i {
    transform: scale(0.92);
  }

  &:hover i:after {
    opacity: 0.25;
    transform: scale(1.25);
  }
}

.btn {
  &.btn-round {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    line-height: 0;
  }

  &.btn-pill {
    border-radius: 666px;
  }
}

.form-control {
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
  }
}

.form-switch .form-check-input {
  width: 2.25em;
  height: 1.25em;
  border-width: 2px;
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.85rem;
  color: var(--bs-pastel-red-200);
}

@each $color, $value in $theme-colors {
  .btn-basic-#{$color} {
    --#{$prefix}btn-color: var(--#{$prefix}#{$color});
    --#{$prefix}btn-hover-color: var(--#{$prefix}#{$color});
    --#{$prefix}btn-hover-bg: #{rgba(var(--#{$prefix}#{$color}-rgb), 0.15)};
    --#{$prefix}btn-active-bg: #{rgba(var(--#{$prefix}#{$color}-rgb), 0.15)};
    --#{$prefix}btn-disabled-color: #{desaturate($value, 50%)};
    --#{$prefix}btn-active-shadow: none;
    --#{$prefix}btn-disabled-border-color: transparent;
    --#{$prefix}btn-active-border-color: transparent;
    --#{$prefix}btn-border-color: transparent;
    --#{$prefix}btn-hover-border-color: transparent;
    --#{$prefix}btn-disabled-bg: transparent;
  }

  .btn-outline-#{$color} {
    --#{$prefix}btn-hover-bg: #{rgba($value, 0.2)};
    --#{$prefix}btn-hover-color: #{$value};
  }
}

.btn-primary {
  --#{$prefix}btn-bg: var(--bs-primary);
  --#{$prefix}btn-border-color: var(--bs-primary);
  --#{$prefix}btn-hover-bg: var(--bs-primary-darker);
  --#{$prefix}btn-hover-border-color: var(--bs-primary-darker);
  --#{$prefix}btn-active-bg: var(--bs-primary-lighter);
  --#{$prefix}btn-active-border-color: var(--bs-primary-lighter);
}

.btn-outline-primary {
  --#{$prefix}btn-color: var(--bs-primary);
  --#{$prefix}btn-border-color: var(--bs-primary);
  --#{$prefix}btn-hover-bg: rgba(var(--bs-primary-rgb), 0.2);
  --#{$prefix}btn-hover-border-color: var(--bs-primary);
  --#{$prefix}btn-hover-color: var(--bs-primary);
  --#{$prefix}btn-active-bg: var(--bs-primary);
  --#{$prefix}btn-active-border-color: var(--bs-primary);
}

.btn-basic-primary {
  --#{$prefix}btn-color: var(--bs-primary);
  --#{$prefix}btn-hover-color: var(--bs-primary);
  --#{$prefix}btn-hover-bg: #{rgba(var(--bs-primary-rgb), 0.15)};
  --#{$prefix}btn-active-bg: #{rgba(var(--bs-primary-rgb), 0.15)};
}

.form-switch .form-check-input {
  &:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23c3c3c3%27/%3e%3c/svg%3e");
    box-shadow: 0 0 0 0.25rem #{rgba(var(--bs-primary-rgb), 0.25)};
  }

  &:checked {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23ffffff%27/%3e%3c/svg%3e");
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
}